@charset "UTF-8";

.h
{
    color:firebrick;
}

////form div
.divClass
{
    border:1px black solid;
    border-radius:5px;
    background-color: grey;
    width:400px;
    padding:10px;
    text-align:center;
    box-shadow: 3px 2px 2px;
}

//guestbook data div
.divClass2
{
    border:1px black solid;
    border-radius:5px;
    background-color: blanchedalmond;
    width:400px;
    padding:10px;
    text-align:center;
    box-shadow: 3px 2px 2px;
    
}

#err
{
    color:lightcoral;
}

.divClass2 td
{
    padding: 5px;
}