
#divLogin1
{
    display:inline;
    float:right;
    margin-right: 50px;
    
}

#divSignUp1
{
    display:inline;
    float:left;
    margin-left: 50px;
    
}

#editFormDiv
{
}

.fields
{
    width:400px;
    padding:25px;
    
    
}

input[type=text]
{
   width:300px;
}

input[type=password]
{
   width:300px;
}

input[type=select]
{
   width:300px;
}

.legends
{
    font-size: 20px;
    color:appworkspace;
}

.errors
{
    color:aliceblue;
}

.previewButton
{
    border: 1px solid black;
    height: 20px;
    width: 150px;
    text-align: center;
    float: center;
    border-radius: 3px;
    background:darkgrey;
    
}

.previewButton:hover
{
    border: 1px solid black;
    height: 20px;
    width: 150px;
    text-align: center;
    float: center;
    border-radius: 3px;
    background:blanchedalmond;
    
    
}

.previewButton a
{
    text-decoration: none;
    color:black;
}

#edithead
{
    background:honeydew;
    text-align: center;
    border-radius: 4px;
    width:75%;
    margin: 0 auto;
    color:black;
    
}

.textField
{
    width:300px;
}

body
{
    background: -webkit-linear-gradient(#660000, #707070); /* For Safari */
    background: -o-linear-gradient(#660000, #707070); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#660000, #707070); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a00000, #707070); /* Standard syntax */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html
{
    height: 100%;
    color:white;
}

#cent
{
   
    position: fixed;
    left: 27%;
}
label
{
    font-size: 22px;
    color:tan;
}
