
/* science horror theme*/
#wrap
{
    margin: auto;
    width:800px;
    height: 700px;
    
    
    
}

#header
{
    width:800px;
    height: 150px;
    text-align: center;
    /*background-color: yellowgreen;*/
    background-image: url('../media/horror.jpg');
    margin: auto;
    
    font-family:  sans-serif;
    color:darkseagreen;    
}

body
{
    background:  #000000;
    color:white;
}

#about
{
    margin: auto;
    font-size: 20px;
    color:white;
    width:600px;
    
}

#contact
{
    margin: auto;
    font-size: 20px;
    color:white;
    width:600px;
    
}