/* science fiction theme*/

#wrap
{
    margin: auto;
    width:800px;
    height: 700px;
}

#header
{
    width:800px;
    height: 150px;
    text-align: center;    
    background-image: url('../media/scifi.jpg');
    margin: auto;    
    font-family:  sans-serif;
    color:darkseagreen;
}

body
{
    background:  #003333;
}

#about
{
    margin: auto;
    font-size: 20px;
    color:white;
    width:600px;
    
}

#contact
{
    margin: auto;
    font-size: 20px;
    color:white;
    width:600px;    
}
