/*horror theme*/

#wrap
{
    margin: auto;
    width:800px;
    height: 700px;    
}

#header
{
    width:800px;
    height: 150px;
    text-align: right;    
    background-image: url('../media/fantasy.jpg');
    margin: auto;    
    font-family:  sans-serif;
    color:seashell;
}

body
{
    background: #cccccc;    
}

#about
{
    margin: auto;
    font-size: 20px;
    color:black;
    width:600px;    
}

#contact
{
    margin: auto;
    font-size: 20px;
    color:black;
    width:600px;    
}
